



<!-- Main header started -->
<div class="main-header">
    <div class="container-fluid">
        <a href="#/dashboard" class="btn btn-default pull-left" style="margin-top:10px"><span class="fa fa-long-arrow-left"></span></a>
       
        <a class="pull-right" ng-click="logout_user();"  style="margin-top:10px"> LOGOUT</a>
    </div>
</div>
<!-- Main header ended --> 
<!-- Main content box started -->
<div id="wrapper" class="container-fluid"> 
   <!-- Main content box started -->
    <div id="wrapper" class="container-fluid"> 
        <!-- Sidebar  started -->
        <div id="side-bar" class=" ">
            <h4 class="customer-list">Customer Online : </h4>
             <input ng-model="searchText" placeholder="search friends" >
            <!-- userlist  started -->
            <ul class="sidebar-nav" style="cursor:pointer; border-top:1px solid;padding-bottom:10px; !important;margin-top:10px;margin-bottom:10px">
              
                <li ng-repeat="user in getFriendList | orderBy : 'fullName'  | filter:searchText"  ng-click="selectCustomer(user);"  style="cursor:pointer; border-bottom:1px solid;padding-bottom:10px; margin-top:10px"> 
                    <div>
                        <img ng-src="{{user.profilePicture}}" class="img-circle img-responsive" alt="Cinque Terre">
                        <div> Name : {{user.fullName}} 
                            <span ng-if="user.alternateName != ''"> ({{user.alternateName}})
                        </div>

                        <div> Gender : 
                            <span ng-if="user.gender == 'male_singular'"> MALE SINGLE</span>
                            <span ng-if="user.gender == 'female_singular'"> FEMALE SINGLE</span>
                        </div>
                        Friend : {{user.isFriend | uppercase}}
                    </div>

                </li>
            </ul>
            <!-- userlist  ended -->
        </div>
    <!-- Sidebar  ended --> 
    </div>
    <!-- right-panel started -->
    <div class="right-panel container-fluid">
        <div class="row"> 
            <!-- chat section started -->
            <div class="loader_angular" ng-show="Loader"></div>
            <div class="col-md-12 zone">
                <h4 class="chat-heading">
                    <span class="fa fa-comments chat-bubble">
                        </span>
                            Coversation With&nbsp;&nbsp; <strong>{{user_details.fullName}}</strong>
                        </span>
                    </span>
                </h4>
                <ul class="messages nav" id="style-3" id="bottom"  scroll-glue>
                    <li class="message" ng-repeat="message in userFbMessage">
                        <div ng-if="message.send_or_receive == 'receive'">
                            <div class="arrow_box-left" ng-if="message.type == 'message'">
                                <div class="text">{{message.message_details.body}}
                                </div>
                            </div>
                            <div class="arrow_box-left" ng-if="message.type == 'sticker'">
                                <div ng-repeat = "sticker in message.attachment">
                                    <img ng-src="{{sticker.url}}" height="{{sticker.height}}" width="{{sticker.width}}" frameCount="{{sticker.frameCount}}" frameRate="{{sticker.frameRate}}" framesPerRow="{{sticker.framesPerRow}}" framesPerCol="{{sticker.framesPerCol}}">
                                </div>
                            </div>
                            <div class="arrow_box-left" ng-if="message.type == 'photo'">
                               <div ng-repeat = "photo in message.attachment">
                                    <img ng-src="{{photo.previewUrl}}" height="{{photo.previewHeight}}" width="{{photo.previewWidth}}">
                                </div>
                            </div>
                            <div class="arrow_box-left" ng-if="message.type == 'share'">
                               <div ng-repeat = "share in message.attachment">
                                    <a ng-href="{{share.facebookUrl}}" target="_blank">
                                        <div class="text">
                                            {{share.title}}
                                            <br>
                                            {{share.description}}
                                        </div>
                                        <img ng-src="https://www.facebook.com{{share.image}}">
                                    </a>
                                </div>
                            </div>
                            <div class="arrow_box-left" ng-if="message.type == 'animated_image'">
                               <div ng-repeat = "gif in message.attachment">
                                    <img ng-src="{{gif.previewUrl}}" height="{{gif.previewHeight}}" width="{{gif.previewWidth}}">
                                </div>
                            </div>
                            <div class="arrow_box-left" ng-if="message.type == 'file'">
                               <div ng-repeat = "audio in message.attachment">
                                    <audio controls>
                                      <source ng-src="{{audio.url | trustedAudioUrl:audio}}">
                                      <source ng-src="{{audio.url | trustedAudioUrl:audio}}">
                                      Your browser does not support the audio tag.
                                    </audio>
                                </div>
                            </div>
                            
                        </div>
                        <div ng-if="message.send_or_receive == 'send'">
                            <div class="arrow_box-right">
                                <div class="text">{{message.message_details.body}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="reply-msg"  ng-submit="sendChatMessage();">
                    <div class="form-group">

                        <textarea rows="3" class="form-control"  cols="50" placeholder="Type your message ..." value="type" ng-model="fb_message" id="sending_message" ng-keyup="$event.keyCode == 13 && sendChatMessage()"></textarea>
                    </div>
                    <div class="form-group buttons-all">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-primary send" type="submit">
                                    Send
                                    <span class="icon-reply">
                                        <img src="img/icon-send.png" widht="11" height="13">
                                    </span>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary clear" ng-click="clearTextMessage();">
                                    Clear
                                    <span class="icon-reply">
                                        <img src="img/icon-clear.png" widht="11" height="10">
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- chat section ended --> 
        </div>
    </div>
<!--Merchant Offer section ended --> 
</div>