<div class="all-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 profile-view">
                
                    <div class="col-md-1 col-md-1 col-xs-1">
                        <a href="#/dashboard" class="btn btn-default header-profile-back-button"><span class="fa fa-long-arrow-left"></span></a>
                    </div>
                     <div class="col-md-4">
                        <h4 class="header-profile-view">
                            <a href="#/dashboard">Home </a> >&nbsp;&nbsp;{{page_title}}
                        </h4>
                        
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive header-logo"src="img/logo.png" alt="">
                    </div>

                    <div class="col-md-2 pull-right">
                        <a class="main-logtout" ng-click="logout_user();" > logout</a>
                    </div>
               
            </div>
        </div>
    </div>
</div>